body {
  background-image: url("glitter.gif");
  background-position: center;  margin: 0;
}

header {
  text-align: center;
  font-size: 4rem;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-style: solid;
  width: 100%;
}


p {
  font-size: 2rem;
  margin: 1rem;
}

img {
  width: 90%;
  box-sizing: border-box;
  border-style: solid;
  margin: 0 auto;
  display: block;
}

a{
  color: white;
  border: solid;
  text-decoration: none;
  margin: 5% auto;
  display: block;
  width: 50%;
  font-size: 2rem;
  text-align: center;
}
a:hover{
  background-image: url("glitter.gif");
  filter: contrast(2);
}

.container {
  display: flex;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.main {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: solid;
  position: relative;
}
.padding {
  width: 100%;
}

.img-stack{
  mix-blend-mode: screen;
  position: absolute;
  transform: translateY(-100%);
  left: 5%;
}




/*fonts*/
.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}
