body {
  background-image: url("background.png");
  background-position: center;
  margin: 0;
}
#title {
  text-align: center;
  font-size: 4rem;
  mix-blend-mode: color-burn;
  position: fixed;
  width: 100%;
  background-color: rgba(77, 1, 123, 0.819);
  color: #6b0095;
}
#glitter {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url("glitter.gif");
  position: absolute;
  mix-blend-mode: screen;
}
#background-1 {
  mix-blend-mode: screen;
  position: absolute;
  width: 100%;
  top: 50%;
}

.container {
  display: flex;
  height: 500px;
  align-self: center;
  justify-content: center;
}

.text {
  background: rgb(0, 0, 0);
  font-size: 2rem;
  z-index: 10;
  color: rgb(255, 255, 255);
  background-color: rgb(158, 154, 154);
  mix-blend-mode: color-burn;
}

.padding {
  background-color: rgb(176, 176, 176);
  width: 10vw;
  mix-blend-mode: color-burn;
}
main {
  top: 20vh;
  position: absolute;
  width: 100%;
}
