/*body {
  margin: 0;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background-image: url("glitter.gif");
  background-position: center;
  background-repeat: repeat; 
  background-size: auto;     
  background-color: black;
}*/

body {
  background-image: url("glitter.gif");
  background-repeat: repeat;
  background-color: black;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 60px;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-style: solid;
  width: 100%;
}

footer {
  width: 100%;
  height: 10vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* bottom */
  align-items: center; /* center horizontally */
  padding-bottom: 0.75rem; /* little breathing room */
}

p {
  margin: 1rem;
  word-wrap: break-word;
}

@media screen and (max-width: 482px) {
  header {
    font-size: 48px;
  }
}

img {
  width: 90%;
  box-sizing: border-box;
  border-style: solid;
  margin: 0 auto;
  display: block;
}

a {
  color: white;
  border: solid;
  text-decoration: none;
  margin: 5% auto;
  display: block;
  width: 50%;
  font-size: 2rem;
  text-align: center;
}
a:hover {
  background-image: url("glitter.gif");
  filter: contrast(2);
}

h1 {
  font-size: 32px;
  margin: 2rem 1rem;
}

hr {
  width: 20%;
  margin: 2rem auto;
}
figure{
  column-count: 3;
  gap: 0;

}

.container {
  display: flex;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  column-count: 1;
}

.main {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: solid;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  width: 660px;
  flex-direction: column;
  column-count: 1;
}
@media screen and (max-width: 660px) {
  .main {
    width: 70vw;
  }
}

.padding {
  width: 100%;
  /* background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); */
}

.img-stack {
  mix-blend-mode: screen;
  position: absolute;
  transform: translateY(-100%);
  left: 5%;
}

.has-text-align-center {
  text-align: center;
}

.content {
  font-size: 18px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: solid;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  width: 660px;
  box-sizing: border-box;
  margin-top: min(15vw,7vh);
}


@media screen and (max-width: 482px) {
  .content {
    font-size: 15px;
  }
}
@media screen and (max-width: 660px) {
  .content {
    width: 70vw;
  }
}



.footer-link {
  width: auto;
  margin: 0;
  font-size: 1rem;
  border: none;
  display: inline;
  color: rgb(240, 240, 240);
  mix-blend-mode: color-dodge;
}
.footer-link:hover {
  filter: contrast(2);
  background-image: none;
  color: rgb(252, 252, 252);
}

/*fonts*/
.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}
